<main>
  <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
  <img
    src="<%= vehicle.inv_image %>"
    alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>"
  />

  <p>
    <strong>Price:</strong> $<%= new
    Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
  </p>
  <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
  <p>
    <strong>Mileage:</strong> <%= new
    Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles
  </p>
  <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
</main>
